<img src="<%= @book.image_url %>" alt="" width="200"><br>
<p><%= "Title: #{@book.title}" %></p>
<p><%= "Author: #{@book.author}" %></p>
<p><%= "Published: #{@book.date_published}" %></p>
<p><%= "Plot: #{@book.description}" %></p>
