<div class="row">
  <div class="col-12 col-md-4">
    <img src="<%= @book.image_url %>" alt="" width="200"><br>
  </div>
  <div class=" col-12 col-md-8 book-details">
    <span class="book-title"><%= @book.title %></span>
    <span class="book-author">by <%= @book.author %></span>
    <span class="book-desc"><%= @book.description %></span>
  </div>

</div>


<% if logged_in? %>
  <% if @discussions == [] %>
  <div class="row">
    <div class="col-12">
      <p>No Discussion yet. Start one.</p>
    </div>
  </div>
  <% else %>
  <% @discussions.each do |discussion| %>
  <div class="comment">
    <div class="comment-details">
      message <%= @count += 1%> by <span class="comment-user"><%= discussion.user.display_name%></span>
      <span class="comment-date"><%= discussion.commented_at %></span>
    </div>
    <div class="comment-content">
      <% if discussion.user_id == current_user.id %>
      <span>
        <form class="" action="comment" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="id" value="<%= discussion.id %>">
          <button type="submit" name="button">delete</button>
        </form>
      </span>
      <% end %>
      <p><%= discussion.comment %></p>
    </div>
  </div>
  <% end %>
  <% end %>
  <form class="" action="/comment" method="post">
    <div class="form-group">
      <input type="hidden" name="volume" value="<%= @book.volume_id %>">
      <textarea class="form-control" name="comment" rows="3" cols="80"></textarea>
    </div>
    <button class="btn btn-secondary" type="submit" name="button">Post</button>
  </form>
<% else %>
  <h3><a href="/login-page?id=<%= @book.volume_id %>">Login to see Discussion</a></h3>
<% end %>
